:global(.navbar-brand) {
  span, img { display: inline-block }
  img { margin-right: 8px; }
}

:global(h1) {
  margin-top:0;
}

:global {
  .modal-body {
    a, a:visited {
      text-decoration: underline;
      cursor:pointer;
    }
  }
}
